h1 {
    color: blueviolet;
    font-style: oblique;
}

.note {
    color: rgb(59, 59, 59);
    font-size: 15px;
    padding-top: 10px;
}

.error {
    color: rgb(255, 255, 255);
    background: rgb(221, 72, 72);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }